html,
body {
  height: 100% !important;
  font-family: $font-family !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  text-align: left;
}

#app {
  height: 100%;
}
