.login-flex {
  min-height: 100%;
}

.login-nav {
  background-color: $navbar-background;
}

.container {
  max-width: 1140px !important;
}

.alert-primary {
  padding: 0.75rem 1.25rem;
  background-color: #cce5ff;
}

.toast-notification {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  top: 65px;
  right: 10px;
}

.btn-success {
  background-color: $btn-success-color;
  border-color: $btn-success-color;
}
