$text-color: #212529;
$btn-success-color: #28a745;
$navbar-background: #343a40;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "node_modules/bootstrap/scss/bootstrap";

@import '_layout.scss';
@import '_login.scss';
